<!DOCTYPE html>

<head>
    <title>Hello World</title>
    <script src="https://unpkg.com/vue@2"></script>
</head>

<body>
    <div id="app">
        <!-- 计算属性-->
        姓: <input type="text" placeholder="First Name" v-model="firstName"><br> 名: <input type="text" placeholder="Last Name" v-model="lastName"><br>
        <!--fullName1是根据fistName和lastName计算产生-->
        姓名1(单向): <input type="text" placeholder="Full Name1" v-model="fullName1"><br> 姓名2(单向): <input type="text" placeholder="Full Name2" v-model="fullName2"><br> 姓名3(双向): <input type="text" placeholder="Full Name3" v-model="fullName3"><br>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                firstName: 'A',
                lastName: 'B'
            },
            computed: {
                fullName1() {
                    return `${this.firstName} ${this.lastName}`;
                },
                fullName3: {
                    get() {
                        return `${this.firstName} ${this.lastName}`;
                    },
                    set(value) {
                        const array = value.split(' ');
                        this.firstName = array[0];
                        this.lastName = array[1];
                    }
                }
            },
            watch: {
                firstName: function(value) {
                    this.fullName2 = `${value} ${this.lastName}`;
                },
                lastName: function(value) {
                    this.fullName2 = `${this.firstName} ${value}`;
                }
            },
        });
        // 这样监视也可以
        // app.$watch('firstName', function(value) {
        //     this.fullName2 = `${value} ${this.lastName}`;
        // });
        // app.$watch('lastName', function(value) {
        //     this.fullName2 = `${this.firstName} ${value}`;
        // });
    </script>
</body>

</html>